body{font-family: 'Quicksand', sans-serif;}
   h4{
        font-weight: 600;
    }
    p{
        font-size: 12px;
        margin-top: 5px;
    }
    .price{
        font-size: 30px;
        margin: 0 auto;
        color: #333;
    }

    .thumbnail{
        opacity:0.70;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .thumbnail:hover{
        opacity:1.00;
    }

    .brandimg:hover{
        opacity: 0.50;
    }


.mb-30 {
    margin-bottom:30px;
}

.mb20 {
    margin-bottom:20px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.frameimg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.frameimg img{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.pad-lr-15{
     padding-left: 15px;
    padding-right: 15px;
}

.margin-tb-10{
    margin-bottom: 10px;
    margin-top: 10px;
}
////slick

.slick-slider {
    margin-bottom: -85px;
}